<!DOCTYPE html>
<html>
  <head>
    <title>Upload File</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
